POSTGRES_PASSWORD=superuser_password
GREENLIGHT_PASSWORD=changeme
GREENLIGHT_DB_DSN=postgres://${DB_USER}:${DB_PASSWORD}@db/greenlight?sslmode=disable
DB_HOST=db
DB_PORT="5432"
DB_USER=greenlight
DB_PASSWORD=greenlight1234
API_PORT="4000"
API_ENV=production
DB_MAX_OPEN_CONNS="25"
DB_MAX_IDLE_CONNS="25"
DB_MAX_IDLE_TIME=15m
LIMITER_ENABLED="true"
LIMITER_RPS="2"
LIMITER_BURST="4"
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT="587"
SMTP_USERNAME="some-username"
SMTP_PASSWORD="some-password"
SMTP_SENDER="Greenlight <no-reply@greenlight.local>"
CORS_TRUSTED_ORIGINS=""
